@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive;
}
.wrapper {
    max-width: 1390px;
    margin: 0 auto;
  }
header {
    height: 100px;
    background-color: black;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menu a {
    text-decoration: none;
      margin-top: 40px; 
     color: white;
     text-transform: uppercase;
}
.logo{
     margin-top: 3px;
     font-weight: 700;
     font-size: 25px;
}
.nav-items{
    display: flex;
}
.nav-items a {
    margin-right: 20px;
    font-size:18px ;
} 
.nav-items a:last-child{
    font-weight: 700;
}
.bg-contact{
    background-color: #FFA630;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 0px;
}
main
{
    height: 2500px;
   
}
canvas{
    position : absolute; 
    
    height:2500px;
   z-index:-1;
}
#particles-js {
    position : absolute;
    width:100%;
    height:2500px;
    z-index:-1;
    background-color: black;
}

h1,h2{
    color: white;
    line-height: 60px;
    
}
h1{
    text-transform: uppercase;
}
.main-text{
 padding-top: 5%;
 
}

footer{
    background-color:#000000 ;
    height: 70px;

}
.info{
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.wrapper-autori{
    max-width: 1000px;
    margin: 0 auto;
}
.titlu{
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-self: center;
  justify-content: center;
  color: #FFA630;
  font-weight: 700;
}
.autori li  {
    color: #FFA630;
    text-decoration: none;
    line-height: 50px;
    list-style: circle;

} 

.autori ul
{
    color: #FFA630;
    font-size: 18px;
}
.autori{
    padding-top: 20px;
}
.autori a{
    text-decoration: none;
    color:white ;
    padding-left: 20px;
    
}
.autori a:hover{
    padding-left: 30px;
    color:#314CB6;
}
.autori ul li ul li{
    list-style: none;
}
